@charset "UTF-8";
/* Glasflügel 2016 */
/* Color Set */
/* Green */
/* Orange */
/* FONT AND CSS IMPORT */
@import url(reset.css);
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
/*
    FUNDAMENTALS
*/
body {
  background: #fafafa;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 100.01%;
  line-height: 1.5;
  color: #5c5c5c;
  font-family: 'Source Sans Pro', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
/* Links */
a,
a:link,
a:visited {
  color: #ec6a50;
  text-decoration: none;
  outline: 0;
}
p a,
p a:visited {
  line-height: inherit;
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.6;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  color: #ec6a50;
  margin-bottom: 15px;
}
h2 {
  color: #ec6a50;
  font-size: 1.5em;
}
h3 {
  color: #ec6a50;
  font-size: 1.2em;
}
h4 {
  color: #101854;
}
p {
  margin-top: 0;
  line-height: 1.6;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -moz-hyphenate-limit-chars: auto 5;
  -moz-hyphenate-limit-lines: 2;
  -o-hyphenate-limit-chars: auto 5;
  -o-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-chars: auto 5;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-chars: auto 5;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-chars: auto 5;
  hyphenate-limit-lines: 2;
}
em {
  font-style: italic;
  color: #ec6a50;
}
strong {
  font-family: 'Source Sans Pro', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Lists */
ul {
  padding: 0;
  margin: 0;
}
/* Clearfix */
.clear {
  clear: both;
}
/* Selection */
::-moz-selection {
  background-color: rgba(0, 81, 135, 0.75);
  text-shadow: none;
  color: #fff;
}
::selection {
  background-color: rgba(0, 81, 135, 0.75);
  text-shadow: none;
  color: #fff;
}
/* Wrapper */
h2.news-entry {
  border-top: 1px dotted #ec6a50;
  border-left: 1px dotted #ec6a50;
}
.news-entry {
  padding-left: 15px;
}
div.content {
  padding-top: 40px;
  font-size: 1.1em;
}
section {
  width: 100%;
  padding-top: 60px;
  overflow: hidden;
}
section article {
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto 70px;
  position: relative;
  overflow: hidden;
}
div.text ul {
  list-style: disc;
}
div.text ol {
  list-style: decimal;
}
div.text li {
  margin-left: 15px;
  margin-bottom: 15px;
}
div.text p.bigger {
  font-weight: bold;
  margin-left: 25px;
  text-align: center;
  font-size: 1.2em;
}
table.airportinfo {
  width: 70%;
}
table.airportinfo td {
  text-align: left;
  padding: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table th {
  color: #ec6a50;
  font-weight: bold;
  padding: 15px;
}
table th,
table td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
table td {
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
div.gallery,
div.image,
div.catalog {
  background-color: #f2f2f2;
  padding: 4px;
  margin: 0px 10px;
}
div.gallery,
div.image {
  text-align: center;
}
div.image-right {
  float: right;
}
div.image-left {
  float: left;
}
div.catalog {
  text-align: center;
}
div.catalog div.images {
  height: 1024px;
  position: relative;
}
div.catalog img {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  left: 18%;
}
div.catalog img.degree90 {
  transition: all 0.5s ease;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/*
    ANMELDUNG
*/
div.form-group {
  border-top: 1px dotted #ec6a50;
  border-left: 1px dotted #ec6a50;
  padding-left: 15px;
}
div.optional-section {
  display: none;
}
div.formfield,
form p {
  margin: 15px auto;
}
div.formfield label {
  margin-left: 15px;
  display: inline-block;
  width: 30%;
}
div.formfield input,
div.formfield textarea,
div.formfield div {
  width: 50%;
}
div.formfield textarea {
  height: 200px;
}
div.formfield div {
  display: inline-block;
}
div.formfield div input,
div.formfield div label {
  width: auto;
}
input.submitbtn {
  float: right;
}
div.formsuccess {
  background-color: #EAFFE0;
  margin: 5%;
  padding: 5%;
}
/*
  Akkordion
*/
.show-haftung {
  margin-top: 20px;
  text-align: justify;
  font-size: 0.8em;
}
.accordion-toggler,
.singleton-accordion-toggler {
  line-height: 24px;
  margin-bottom: 0px;
  margin-bottom: 10px;
}
.accordion-toggler:hover,
.singleton-accordion-toggler:hover {
  cursor: pointer;
}
.plus,
.plus:visited {
  background: url(../../static/images/plus-minus.jpg) 0px 0px no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 10px;
  line-height: 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
}
.plus:hover,
.plus:active,
.accordion-toggler:hover .plus {
  background: url(../../static/images/plus-minus.jpg) 0px -24px no-repeat;
}
.minus,
.minus:visited {
  background: url(../../static/images/plus-minus.jpg) -24px 0px no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 10px;
  line-height: 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
}
.minus:hover,
.minus:active,
.accordion-toggler:hover .minus {
  background: url(../../static/images/plus-minus.jpg) -24px -24px no-repeat;
}
/*
    MAINNAVIGATION
*/
.mainnavigation {
  position: fixed;
  width: 100%;
  z-index: 500;
  left: 0;
  background: #fafafa;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.mainnavigation nav {
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.mainnavigation nav ul {
  list-style-type: none;
  margin-top: 0;
}
.mainnavigation nav li {
  float: left;
}
.mainnavigation nav li a {
  padding: 12px 25px;
  display: block;
  border-right: 1px solid #f6b8ac;
}
.mainnavigation nav li a.active {
  font-weight: bold;
  transition: all 0.5s ease;
  background-color: #fff;
  text-shadow: 0 0 2px #FFDAD3;
}
.mainnavigation nav li:first-child a {
  border-left: 1px solid #f6b8ac;
}
.mainnavigation nav li:hover a,
.mainnavigation nav li:focus a,
.mainnavigation nav li:active a {
  color: #ec6a50;
  background-color: #fff;
}
.mainnavigation .logo a {
  background: url(../images/glasfluegel_logo.svg);
  display: block;
  padding: 0;
  height: 48px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.mainnavigation .logo {
  width: 95px;
  overflow: hidden;
}
/*
    SITESTRUCTURE
*/
.contentbody > h2 {
  color: #fff;
  padding: 10px 2%;
  font-size: 1.4em;
}
.contentbody > h2 a {
  float: right;
  font-size: 0.7em;
  line-height: 2.3;
}
.contentbody > h3,
.contentbody > h4 {
  color: #ddd;
  padding: 0px 2%;
}
.contentbody > h4 {
  color: #999;
  font-size: 0.9em;
  margin-top: 15px;
}
.wht .contentbody > h2 {
  color: #999;
}
/* with sidebar */
.contentbody.third {
  width: 73%;
  /*overflow:hidden;*/
  float: left;
  margin-bottom: 20px;
}
/* without sidebar */
.contentbody.complete {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.contentbody:last-of-type {
  margin-bottom: 0;
}
/* sidebar */
aside {
  width: 25%;
  float: left;
  margin-right: 2%;
  font-size: 0.85em;
}
aside.right {
  margin-right: 0;
  margin-left: 2%;
}
.textbody > p {
  margin-bottom: 30px;
}
hr {
  float: none;
  clear: both;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  height: 0;
  background: transparent;
  margin-bottom: 10px;
}
/* BOXES */
/* basics */
ul.boxes {
  margin: 0 2% 20px;
  overflow: hidden;
  position: relative;
}
ul.boxes > li {
  margin-bottom: 20px;
  position: relative;
}
ul.boxes li a {
  display: block;
  overflow: hidden;
  position: relative;
}
/* image */
ul.boxes .image {
  width: 100%;
  height: 300px;
  background-image: url(../images/bg-maincolor.jpg);
  background-size: cover;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}
ul.boxes li:hover .image {
  opacity: 1;
}
/* matter */
ul.boxes .matter {
  position: absolute;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  transition: background-color 0.5s ease;
}
ul.boxes .matter h3 {
  padding: 10px 15px;
  color: #fff;
}
ul.boxes .matter span {
  font-size: 0.8em;
  padding: 0 15px 10px;
  display: block;
}
ul.boxes li:hover .matter {
  background-color: #141414;
}
/* new */
ul.boxes .new span {
  padding: 5px 15px;
}
.maincolor ul.boxes .new {
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: rgba(236, 106, 80, 0.9);
  width: 100%;
}
/* number of elements in a row */
ul.boxes.one > li {
  width: 100%;
  margin-right: 0;
  float: left;
}
ul.boxes.two > li {
  width: 49%;
  margin-right: 2%;
  float: left;
}
ul.boxes.two li:nth-child(even) {
  margin-right: 0;
}
ul.boxes.three > li {
  width: 32%;
  margin-right: 2%;
  float: left;
}
ul.boxes.three li:nth-child(3n) {
  margin-right: 0;
}
ul.boxes.four li {
  width: 23.5%;
  margin-right: 2%;
  float: left;
}
ul.boxes.four li:nth-child(4n) {
  margin-right: 0;
}
ul.boxes.five li {
  width: 18.4%;
  margin-right: 2%;
  float: left;
}
ul.boxes.five li:nth-child(5n) {
  margin-right: 0;
}
/* styling of specific elements */
ul.boxes.five .image {
  height: 0;
  padding-bottom: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
ul.boxes.five .matter {
  position: relative;
  background: transparent;
}
ul.boxes.five h3 {
  color: #000;
  padding: 5px 0 3px;
  font-size: 1em;
}
ul.boxes.five span {
  color: #aaa;
  padding: 0 0 10px;
}
ul.boxes.five li:hover .matter {
  background-color: transparent;
}
/* SHOUT BOXES */
.shout.boxes > li {
  height: 400px;
}
.shout.boxes .image {
  height: 400px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.shout.boxes li:hover .image {
  opacity: 0;
}
.shout.boxes .image.is-active {
  opacity: 0.9;
  pointer-events: auto;
  cursor: pointer;
}
.shout.boxes li:hover .image.is-active {
  opacity: 1;
}
.shout.boxes .footer {
  width: 100%;
  background-color: #000;
  bottom: 0;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.5s ease;
}
.shout.boxes li:hover .footer {
  background-color: #141414;
}
.shout.boxes .control {
  padding: 15px;
  float: left;
  width: 110px;
}
.shout.boxes .control button {
  display: block;
  height: 16px;
  width: 15px;
  background-color: #f2f2f2;
  float: left;
  margin-right: 7px;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}
.shout.boxes .control button:hover {
  background-color: #999;
  cursor: pointer;
}
.shout.boxes .control li.is-active button {
  background-color: #000;
}
.shout.boxes .caption {
  color: #fff;
  padding: 10px 15px;
  float: right;
}
.shout.boxes .caption span,
.shout.boxes .caption a {
  display: none;
}
.shout.boxes .caption span.is-active,
.shout.boxes .caption a.is-active {
  display: block;
}
/* CONTENT COMPONENTS */
section.component {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 10px 2%;
}
section.component > .image,
section.component > .placeholder {
  width: 49%;
}
section.component > .image.left,
section.component > .placeholder.left {
  float: left;
  margin-right: 2%;
}
section.component > .image.right,
section.component > .placeholder.right {
  float: right;
  margin-left: 2%;
}
section.component .image img {
  width: 100%;
}
section.component > .matter {
  transition: all 0.3s ease;
  float: left;
  width: 49%;
  min-height: 100px;
  margin-bottom: 30px;
  padding: 10px 0 20px;
}
section.component > .matter h2 {
  color: #aaa;
  font-size: 2em;
  font-weight: 300;
}
section.component > .matter p {
  transition: all 0.3s ease;
}
section.component > a.matter p {
  color: #000;
}
/* TEXT BOXES */
.text.boxes {
  padding: 0px 0 20px;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 20px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 20px;
  /* Firefox */
  column-gap: 20px;
  margin-bottom: 20px;
}
.three.text.boxes {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}
.text.boxes h3 {
  color: #ddd;
  padding: 0px;
}
/* BUTTONS */
.dynaform input[type="text"].ohne {
  border: 0;
  background: transparent;
  box-shadow: none;
}
input[type="button"],
input[type="submit"],
a.button {
  -webkit-appearance: none;
  border-radius: 0;
  transition: all 0.3s ease;
  color: #444;
  display: inline-block;
  margin-right: 10px;
  background: #e6e6e6;
  border: 1px solid #ccc;
}
a.button,
button.slim {
  font-weight: 400;
  font-size: 0.9em;
  padding: 3px 9px;
  border: 1px solid #ccc;
  background: #e6e6e6;
  cursor: pointer;
}
a.button:hover,
button.slim:hover {
  background: #f4f4f4;
}
a.action {
  display: block;
  float: right;
  margin-bottom: 20px;
}
input[type="button"],
input[type="submit"],
button.action,
a.action {
  color: #fff;
  font-weight: 700;
  padding: 9px 12px;
  border: 1px solid #932610;
  background-color: #ec6a50;
  letter-spacing: 0.1em;
}
input[type="submit"].order.primary,
button.primary.action,
a.primary.action {
  background-color: #419839;
  border-color: #76c96e;
}
button.reset.action {
  color: #999;
  border: 1px solid #999;
  background-color: #ccc;
}
a.action:hover,
button.action:hover {
  color: #fff;
  border-color: #ec6a50;
  background-color: #fbe0da;
}
input[type="button"]:hover,
input[type="submit"]:hover,
button.primary.action:hover,
a.primary.action:hover {
  border: 1px solid #990000;
  background: #cc0000;
}
/*input[type="submit"] {float:right;}*/
input[type="search"] {
  padding: 11px 9px 9px;
}
/* ------------------------------------------------------------------------------------------------------
    PAGE STYLING
------------------------------------------------------------------------------------------------------ */
.paralax {
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
section .logo {
  background: url(../images/glasfluegel_logo_full.svg);
  display: block;
  padding: 0;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1.2s ease;
  margin: 0px auto;
  margin-right: 30px;
  float: left;
}
section .logo.is-scrolled {
  width: 0;
  margin: 0;
  background-position: top;
}
/* ------------------------------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------------------------------ */
footer {
  background: #eee;
  color: #101854;
  width: 100%;
}
footer a,
footer a:link,
footer a:visited {
  color: #101854;
}
footer div {
  margin: 0px auto;
  max-width: 1200px;
  padding: 20px 0;
}
/* #Custom Styles
================================================== */
a.sponsor {
  transition: all 0.5s ease;
  display: inline-block;
  width: 150px;
  height: 80px;
  margin: 2px 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
a.sponsor:hover {
  transition: all 0.5s ease;
  display: inline-block;
  width: 180px;
  height: 100px;
}
/* #Supersize Subset Menu
================================================== */
/* #Media Queries */
/* disable background-attachment: fixed on iOS devices */
@media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .paralax {
    background-attachment: scroll!important;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }
}
@media screen and (max-height: 710px) {
  .mainnavigation nav li a {
    padding: 12px 10px;
    font-size: 0.9em;
  }
}
/* #Tablet (Landscape)
================================================== */
/* #Tablet (Portrait)
================================================== */
@media only screen and (max-width: 959px) {
  body {
    font-size: 90%;
  }
  /* content body */
  .contentbody.third {
    width: 100%;
  }
  /* sidebar */
  aside {
    width: 100%;
    float: left;
    font-size: 0.85em;
  }
  .no-mobil {
    display: none;
  }
  /* boxes */
  ul.boxes.five li,
  ul.boxes.four li,
  ul.boxes.three li,
  ul.boxes.two li,
  ul.boxes.one li {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  footer .columns li {
    float: none;
    width: 94%!important;
  }
  .boxes.text {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (max-width: 800px) {
  .content > section {
    padding: 0;
  }
  .paralax {
    background-attachment: scroll!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 280px;
  }
}
/* #Print
================================================== */
@media print {
  .mainnavigation,
  .feedback,
  .fixedmenu,
  .searcheteile,
  footer,
  input[type="submit"],
  ul.boxes.one li .image {
    display: none;
  }
  #contactform {
    display: block;
  }
}
