{% from "macros/macros.html" import image, headline %}

<p>In diesem Bereich kannst Du dich für den <strong>Glasflügel Cup 2019</strong> offiziell anmelden.</p>

<p>Es ist dabei egal, ob du mit Flugzeug kommst oder einfach nur aus Interesse am Thema Glasflügel teilnehmen möchtest - Jeder ist bei uns Willkommen! Wir benötigen deine Anmeldung, um den Cup sowie den Flugbetrieb besser planen zu können. Auch wenn du oder ihr nicht das ganze Wochenende kommen könnt, hinterlasse bitte eine Anmeldung mit entsprechender Bemerkung. Auch was die Kosten angeht, kann man über alles reden.</p>

<p>Wir freuen uns auf Euch!</p>

<!-- SECTION ------------------------------------------------------------------>

<h2>
    Meldegebühr
</h2>

<p>todo</p>


<!-- SECTION ------------------------------------------------------------------>
<h2>
    Hinweis zum Flugbetrieb
</h2>

<p>todo</p>

<!-- SECTION ------------------------------------------------------------------>

{{ headline("Anmeldeformular") }}

<form id="regform">
    <p>Bitte nutze dieses Anmeldeformular, um dich für den Glasflügel Cup 2019 anzmelden!</p>

    <input type="hidden" name="skey" value="{{ getSecurityKey() }}" />

    <div class="form-group">
		{% set regSkel = getSkel("reg") %}

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_title">Anrede</label>
            <div id="reg_title">
                <input id="reg_title_frau" type="radio" name="title" value="f" checked="">
                <label for="reg_title_frau">Frau</label>
                <br />
                <input id="reg_title_herr" type="radio" name="title" value="m">
                <label for="reg_title_herr">Herr</label>
            </div>
        </div>

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_firstname">Vorname *</label>
            <input id="reg_firstname" type="text" name="firstname" />
        </div>

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_lastname">Nachname *</label>
            <input id="reg_lastname" type="text" name="lastname" />
        </div>

		<!------------------------------------------------------------------------->
		<div class="formfield">
			<label for="reg_lastname">Anschrift *</label>
			<input id="reg_lastname" type="text" name="street" />
		</div>

		<!------------------------------------------------------------------------->
		<div class="formfield">
			<label for="reg_lastname">PLZ *</label>
			<input id="reg_lastname" type="text" name="plz" />
		</div>

		<!------------------------------------------------------------------------->
		<div class="formfield">
			<label for="reg_lastname">Ort *</label>
			<input id="reg_lastname" type="text" name="city" />
		</div>

		<!------------------------------------------------------------------------->
		<div class="formfield">
			<label for="reg_club">Heimatverein</label>
			<input id="reg_club" type="text" name="club" />
		</div>
        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_email">E-Mail *</label>
            <input id="reg_email" type="text" name="email" />
        </div>

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_phone">Telefon</label>
            <input id="reg_phone" type="text" name="phone" />
        </div>

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_persons">Wie viele Personen seid ihr?</label>
            <select id="reg_persons" name="persons">
                {% for i in [1, 2, 3, 4, 5, 6, 7, 8, 9] %}
                    <option value="{{ i }}" {{ 'selected="selected"' if i == 1 }}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <div class="form-group">

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_camping">Camping</label>
            <div id="reg_camping">
                <input id="reg_camping_no" type="radio" name="camping" value="0" checked="">
                <label for="reg_camping_no">Nein, ich/wir übernachten nicht oder ausserhalb.</label>
                <br />
                <input id="reg_camping_yes" type="radio" name="camping" value="1">
                <label for="reg_camping_yes">Ja</label><br />
            </div>
        </div>

        <div class="optional-section" id="camping_section">
            <!--
            <p>
                Für das Camping steht Strom? bereit
                Kosten???
            </p>
            -->

            <div class="formfield">
                <label for="reg_camping_kind">Wo schläfst du / schlaft ihr?</label>
                <div id="reg_camping_kind">
                    <input id="reg_camping_kind_tent" type="radio" name="camping_kind" value="tent" checked="">
                    <label for="reg_camping_kind_tent">Zelt</label>
                    <br />
                    <input id="reg_camping_kind_caravan" type="radio" name="camping_kind" value="caravan">
                    <label for="reg_camping_kind_caravan">Wohnmobil / Wohnwagen</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_aircraft">Flugzeug</label>
            <div id="reg_aircraft">
                <input id="reg_aircraft_no" type="radio" name="aircraft" value="0" checked="">
                <label for="reg_aircraft_no">Nein</label>
                <br />
                <input id="reg_aircraft_yes" type="radio" name="aircraft" value="1">
                <label for="reg_aircraft_yes">Ja</label><br />
            </div>
        </div>

        <div class="optional-section" id="aircraft_section">
            <p>
                Bitte gib uns ein paar genauere Informationen über dein Flugzeug, und wie du
                zu uns findest. Wenn du ein Foto hochlädst, würden wir dieses nach vorheriger
                Prüfung gerne hier auf der Homepage veröffentlichen.<br />
                Achte bei dem Foto bitte darauf, dass dein Flieger möglichst mittig abgebildet ist.
                Der Veröffentlichung deines Fotos kannst du jederzeit wiedersprechen.
                Das Recht am Bild verbleibt bei dir.
            </p>

            <p>Es ist festzuhalten, dass jeder für die Einhaltung der gesetzlichen Anforderungen selber verantwortlich ist. Wir werden keine Papiere überprüfen, es kann natürlich aber sein, dass die Aufsichtsbehörde solche Kontrollen durchführt.</p>

            <div class="formfield">
                <label for="reg_aircraft_type">Flugzeugtyp *</label>

				<select id="reg_aircraft_type" name="aircraft_type">
					{% for x, y in regSkel["aircraft_type"]["values"].items() %}
						<option value="{{ x }}">{{ y }}</option>
					{% endfor %}
				</select>
            </div>

            <div class="formfield">
                <label for="reg_aircraft_reg">Kennzeichen *</label>
                <input id="reg_aircraft_reg" type="text" length="8" name="aircraft_reg" />
            </div>

            <div class="formfield">
                <label for="reg_aircraft_wb">WB-Kennzeichen</label>
                <input id="reg_aircraft_wb" type="text" length="3" name="aircraft_wb" />
            </div>

            <div class="formfield">
                <label for="reg_aircraft_bj">Baujahr</label>
                <input id="reg_aircraft_bj" type="numeric" length="4" name="aircraft_bj" />
            </div>

            <div class="formfield">
                <label for="reg_aircraft_werkno">Werk-Nr.</label>
                <input id="reg_aircraft_werkno" type="numeric" length="3" name="reg_aircraft_werkno" />
            </div>

            <div class="formfield">
                <label for="reg_aircraft_pic_div">Foto</label>
                <div id="reg_aircraft_pic_div">
                    <input id="reg_aircraft_pic" name="aircraft_pic" type="hidden" value="" />
                    <input id="reg_aircraft_pic_uploader" type="file" accept="image/*" />
                    <img id="reg_aircraft_pic_loader" src="/static/images/loading.gif" style="display: none;">
                    <br />
                    <img id="reg_aircraft_pic_preview" src="" style="display: none;"/>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_remarks">Hast du noch eine Mitteilung an uns?</label>
            <textarea id="reg_remarks" type="text" name="remarks"></textarea>
        </div>
    </div>

    <div class="errormessage" style="color: red; display: none;"></div>

    <img id="formloader" src="/static/images/loading.gif" style="display: none;">
    <input type="submit" value="Anmelden" class="submitbtn" />
</form>

<div id="regsuccess" class="formsuccess" style="display: none;">
    <p style="text-align: center;"><strong>Vielen Dank!</strong></p>

    <p>Deine Anmeldung ist bei uns eingegangen! Du erhälst in wenigen Minuten eine automatische Bestätigungsmail von uns.<br />

    Solltest du noch Fragen haben oder wenn etwas von deinen Angaben nicht stimmt, schicke uns Bitte eine
    Nachricht über das <a href="#kontakt">Kontaktformular</a>.</p>

</div>
