{% from "macros/macros.html" import image, gallery, headline %}
{% from "macros/utils.html" import getImageSrc %}

<p>Wir sind ein Verein und haben es uns zur Aufgabe gemacht den Konstrukteur und Pionier der Segelfliegerei <strong>Eugen Hänle</strong> und seine Firma <strong>GLASFLÜGEL</strong> in Erinnerung zu halten.<p>

<p>Hierfür organisieren wir auf dem Flugplatz in Bad Saulgau und zusammen mit der dort ansässigen <a href="https://edtu.de/" target="_blank">Fliegergruppe</a> Veranstaltungen von und für Glasflügel-Freunde, wie z.B. das <strong>Glasflügel FlyIn 2016</strong> sowie den <strong>Glasflügel Cup 2019</strong>.</p>

<p>Ausserdem informieren wir hier über <a href="#glasfluegel">die Geschichte hinter GLASFLÜGEL</a> und was es sonst noch so an <a href="#news">aktuellen Neuigkeiten</a> rund ums Thema gibt.</p>

<p>Mitglied werden kann bei uns übrigens Jeder kostenlos: Einfach das <a href="#register">Formular</a> auf dieser Seite ausfüllen, und man ist mit dabei.</p>

{#
{% set sponsors = getList("sponsor", active=1, orderby="sortindex") %}
{% if sponsors %}
	<hr>
	<p style="background-color: white; padding: 2px 10px; text-align: center;">
		Unser ausdrücklicher Dank gilt unseren Sponsoren, die dieses ehrenamtliche Unterfangen überhaupt erst möglich machen:<br>
		{% for sponsor in sponsors %}
			<a href="{{ sponsor.link }}" class="sponsor" style="background-image: url({{ getImageSrc(sponsor.logo) }}" target="_blank" title="{{ sponsor.name }}" alt="Logo von {{ sponsor.name }}"></a>
		{% endfor %}
	</p>
{% endif %}
#}
