{% from "macros/macros.html" import image, gallery, headline %}

{% for contact in getList("user", **{"contact$gt": 0, "orderby": "contact"}) or [] %}
    <div class="image image-left">
        {% if contact["photo"] %}
            <img src="{{contact["photo"]["servingurl"]}}=s200-c" />
        {% endif %}

        <div><strong>{{ contact["viewname"] }}</strong><br>
        {{ contact["details"] }}</div>
    </div>
{% endfor %}

<br style="clear: both;" />

<form id="formmailer">
    <p>
        Wenn du uns eine Nachricht zukommen lassen möchtest oder Fragen hast, benutze bitte das nachfolgende
        Kontaktformular. Wir werden uns so schnell wie möglich bei dir melden!
    </p>

    <input type="hidden" name="skey" value="{{ getSecurityKey() }}" />

    <div class="form-group">
        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="form_email">E-Mail *</label>
            <input id="form_email" type="text" name="email" required />
        </div>
        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="form_descr">Nachricht *</label>
            <textarea id="form_descr" type="text" name="descr" required></textarea>
        </div>

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="form_privacy" style="width: auto;">
                <input type="checkbox" id="form_privacy" required name="privacy_confirm" style="width: initial;">
                Ich bin damit einverstanden, dass meine angegebenen Daten zum Zwecke der Bearbeitung der Anfrage gespeichert und weiterverarbeitet werden dürfen. Eine Übermittlung meiner Daten an Dritte findet nicht statt.
            </label>
        </div>
    </div>

    <div class="errormessage" style="color: red; display: none;"></div>

    <img id="formloader2" src="/static/images/loading.gif" style="display: none;">
    <input type="submit" value="Absenden" class="submitbtn" />
</form>

<div id="formmailersuccess"  class="formsuccess"  style="display: none;">
    <p style="text-align: center;"><strong>Vielen Dank!</strong></p>

    <p>Deine Nachricht wurde an uns übermittelt. Wir melden uns zeitnah bei dir.</p>
</div>
