{% from "macros/macros.html" import image, headline %}

{{ headline("Anmeldeformular") }}

<p>
	Die Anmeldung für den Glasflügel CUP 2019 ist nun leider geschlossen!<br>
	Für ganz Spontane: Kommt einfach vorbei! :-)
</p>

{#

<p>In diesem Bereich kannst Du dich offiziell und verbindlich für den <strong>Glasflügel Cup 2019</strong> anmelden.</p>

<p>Es ist dabei egal, ob du mit Flugzeug kommst und mitfliegst, oder einfach nur aus Interesse am Thema Glasflügel teilnehmen möchtest - Jeder ist bei uns Willkommen!</p>

<p>Wir freuen uns auf Euch!</p>

<!-- SECTION ------------------------------------------------------------------>

{{ headline("Anmeldeformular") }}


<form id="regform">
    <input type="hidden" name="skey" value="{{ getSecurityKey() }}" />

    <div class="form-group">
		{% set regSkel = getSkel("reg") %}

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_title">Anrede</label>
            <div id="reg_title">
                <input id="reg_title_frau" type="radio" name="title" value="f" checked="">
                <label for="reg_title_frau">Frau</label>
                <br />
                <input id="reg_title_herr" type="radio" name="title" value="m">
                <label for="reg_title_herr">Herr</label>
            </div>
        </div>

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_firstname">Vorname *</label>
            <input id="reg_firstname" type="text" name="firstname" />
        </div>

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_lastname">Nachname *</label>
            <input id="reg_lastname" type="text" name="lastname" />
        </div>

		<!------------------------------------------------------------------------->
		<div class="formfield">
			<label for="reg_street">Anschrift *</label>
			<input id="reg_street" type="text" name="street" />
		</div>

		<!------------------------------------------------------------------------->
		<div class="formfield">
			<label for="reg_zipcode">PLZ *</label>
			<input id="reg_zipcode" type="text" name="zipcode" />
		</div>

		<!------------------------------------------------------------------------->
		<div class="formfield">
			<label for="reg_city">Ort *</label>
			<input id="reg_city" type="text" name="city" />
		</div>

		<!------------------------------------------------------------------------->
		<div class="formfield">
			<label for="reg_country">Land *</label>
			<select id="reg_country" name="country">
				<option value="de" selected>Deutschland</option>
				<option value="at">Österreich</option>
				<option value="ch">Schweiz</option>
				<option disabled>--</option>

				{% for country, name in regSkel["country"]["values"].items() %}
					{% if country in ["de", "at", "ch"] %}
						{% continue %}
					{% endif %}
					<option value="{{ country }}">{{ name }}</option>
				{% endfor %}
			</select>

		</div>

		<!------------------------------------------------------------------------->
		<div class="formfield">
			<label for="reg_club">Heimatverein</label>
			<input id="reg_club" type="text" name="club" />
		</div>
        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_email">E-Mail *</label>
            <input id="reg_email" type="text" name="email" />
        </div>

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_phone">Telefon</label>
            <input id="reg_phone" type="text" name="phone" />
        </div>

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_persons">Wieviele Personen kommen mit?</label>
            <select id="reg_persons" name="persons">
                {% for i in [1, 2, 3, 4, 5, 6, 7, 8, 9] %}
                    <option value="{{ i }}" {{ 'selected="selected"' if i == 1 }}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>

    </div>

    <div class="form-group">

        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_camping">Camping</label>
            <div id="reg_camping">
                <input id="reg_camping_no" type="radio" name="camping" value="0" checked="">
                <label for="reg_camping_no">Nein, ich/wir übernachten ausserhalb.</label>
                <br />
                <input id="reg_camping_yes" type="radio" name="camping" value="1">
                <label for="reg_camping_yes">Ja</label><br />
            </div>
        </div>

        <div class="optional-section" id="camping_section">
            <p>
				Die Campinggebühr für den Wettbewerb beträgt 8€ pro Person und Nacht.
            </p>

            <div class="formfield">
                <label for="reg_camping_kind">Wo schläfst du / schlaft ihr?</label>
                <div id="reg_camping_kind">
                    <input id="reg_camping_kind_tent" type="radio" name="camping_kind" value="tent" checked="">
                    <label for="reg_camping_kind_tent">Zelt</label>
                    <br />
                    <input id="reg_camping_kind_caravan" type="radio" name="camping_kind" value="caravan">
                    <label for="reg_camping_kind_caravan">Wohnmobil / Wohnwagen</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_aircraft">Flugzeug</label>
            <div id="reg_aircraft">
                <input id="reg_aircraft_no" type="radio" name="aircraft" value="0" checked="">
                <label for="reg_aircraft_no">Nein</label>
                <br />
                <input id="reg_aircraft_yes" type="radio" name="aircraft" value="1">
                <label for="reg_aircraft_yes">Ja</label><br />
            </div>
        </div>

        <div class="optional-section" id="aircraft_section">
            <p>
				Das hier angegebene Flugzeug nimmt am Wettbewerb teil.<br>
				Die Nenngebühr beträgt je gemeldetes Flugzeug mit einem Piloten 100€.<br>
				Für jeden weiteren Piloten (max. 2) erhöht sich die Nenngebühr um 25€.
			</p>
			<p>
                Wenn du ein Foto hochlädst, würden wir dieses nach vorheriger
                Prüfung gerne hier auf der Homepage veröffentlichen.<br><br>

                Achte bei dem Foto bitte darauf, dass dein Flieger möglichst mittig abgebildet ist.<br>
                Der Veröffentlichung deines Fotos kannst du jederzeit wiedersprechen.<br>
                Das Recht am Bild verbleibt bei dir.
            </p>

			<div class="formfield">
				<label for="reg_aircraft_pilot2">Name zweiter Pilot/-in</label>
				<input id="reg_aircraft_pilot2" type="text" name="aircraft_pilot2" />
			</div>

			<div class="formfield">
				<label for="reg_aircraft_pilot3">Name dritter Pilot/-in</label>
				<input id="reg_aircraft_pilot3" type="text" name="aircraft_pilot3" />
			</div>

            <div class="formfield">
                <label for="reg_aircraft_type">Flugzeugtyp *</label>

				<select id="reg_aircraft_type" name="aircraft_type">
					{% for x, y in regSkel["aircraft_type"]["values"].items() %}
						<option value="{{ x }}">{{ y }}</option>
					{% endfor %}
				</select>
            </div>

            <div class="formfield">
                <label for="reg_aircraft_reg">Kennzeichen *</label>
                <input id="reg_aircraft_reg" type="text" length="8" name="aircraft_reg" />
            </div>

            <div class="formfield">
                <label for="reg_aircraft_wb">WB-Kennzeichen *</label>
                <input id="reg_aircraft_wb" type="text" length="3" name="aircraft_wb" />
            </div>

            <div class="formfield">
                <label for="reg_aircraft_bj">Baujahr</label>
                <input id="reg_aircraft_bj" type="numeric" length="4" name="aircraft_bj" />
            </div>

            <div class="formfield">
                <label for="reg_aircraft_werkno">Werk-Nr.</label>
                <input id="reg_aircraft_werkno" type="numeric" length="3" name="aircraft_werkno" />
            </div>

            <div class="formfield">
                <label for="reg_aircraft_pic_div">Foto</label>
                <div id="reg_aircraft_pic_div">
                    <input id="reg_aircraft_pic" name="aircraft_pic" type="hidden" value="" />
                    <input id="reg_aircraft_pic_uploader" type="file" accept="image/*" />
                    <img id="reg_aircraft_pic_loader" src="/static/images/loading.gif" style="display: none;">
                    <br />
                    <img id="reg_aircraft_pic_preview" src="" style="display: none;"/>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <!------------------------------------------------------------------------->
        <div class="formfield">
            <label for="reg_remarks">Hast du noch eine Mitteilung an uns?</label>
            <textarea id="reg_remarks" type="text" name="remarks"></textarea>
        </div>
    </div>

	<div class="form-group">
		<!------------------------------------------------------------------------->
		<div class="formfield">
			<input id="reg_accept_wb" type="checkbox" name="accept_wb" value="1">
			<label for="reg_accept_wb">Ich akzeptiere die <a href="/#ausschreibung" target="_blank">Wettbewerbsordnung</a>.</label>
		</div>

		<!------------------------------------------------------------------------->
		<div class="formfield">
			<input id="reg_accept_dsgvo" type="checkbox" name="accept_dsgvo" value="1">
			<label for="reg_accept_dsgvo">
				Ich bin damit einverstanden, dass meine angegebenen Daten zum Zwecke der Bearbeitung meiner Anmeldung gespeichert und weiterverarbeitet werden dürfen.<br><br>
				Hierbei willige ich auch ein, dass mein Vor- und Nachname (evtl. Namen weiterer Piloten), mein Heimatverein sowie das Kennzeichen, Wettbewerbskennzeichen und ggf. Foto meines Flugzeugs auf dieser Webseite im Rahmen des Wettbewerbs
				für jeden Besucher der Webseite einsehbar sind.<br><br>
				Eine Übermittlung sonstiger persönlicher Daten an Dritte findet nicht statt.</label>
		</div>

	</div>


    <div class="errormessage" style="color: red; display: none;"></div>

    <img id="formloader" src="/static/images/loading.gif" style="display: none;">
    <input type="submit" value="Anmelden" class="submitbtn" />
</form>

<div id="regsuccess" class="formsuccess" style="display: none;">
    <p style="text-align: center;"><strong>Vielen Dank!</strong></p>

    <p>Deine Anmeldung ist bei uns eingegangen! Du erhälst in wenigen Minuten eine automatische Bestätigungsmail von uns.<br />

    Solltest du noch Fragen haben oder wenn etwas von deinen Angaben nicht stimmt, schicke uns Bitte eine
    Nachricht über das <a href="#kontakt">Kontaktformular</a>.</p>

</div>

#}

<!-- SECTION ------------------------------------------------------------------>
{{ headline("Teilnehmer") }}

{% set skellist = getList("reg", **{"amount":64, "visible": "1", "orderby": "creationdate", "orderdir": "1"}) or [] %}

<table class="glasfluegel">
	<tr>
		<th>Bild</th>
		<th>Name</th>
		<th>Typ</th>
		<th>Kennzeichen</th>
	</tr>
	{%- include "reg_list_next.html" -%}
</table>
