<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glasflügel FLYIN 2016 | Teilnehmer-Fragebogen</title>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <style>
        li {padding-top: 10px;}
        p {margin: 8px auto;}

        .outputvalue {font-weight: bold; font-size: 1.2em;}

        form {margin: 5% 20%;}

        h2 {
            border-top: 1px dotted #ec6a50;
            border-left: 1px dotted #ec6a50;
            padding-left: 15px;
            margin-top: 30px;
        }

        textarea
        {
            width: 100%;
            min-height: 200px;
        }

        img.logo
        {
            display: block;
            margin-left: auto;
            margin-right:auto;
            margin-bottom: 25px;
            width:60%;
        }
    </style>
</head>
<body>

    <form action="/reg/questionaire" method="POST">

        <img src="/static/images/flyin.svg" class="logo" />

        <input type="hidden" name="key" value="{{ skel["value"]["key"] }}" />
        <input type="hidden" name="code" value="{{ skel["value"]["code"] }}" />
        <input type="hidden" name="skey" value="{{ getSecurityKey() }}" />

        {% macro output(skel, name, title = "") %}
            {% if title %}
                {{ title }}<br>
            {% endif %}

			<span class="outputvalue">{{ skel["value"][name] or "(leer)" }}</span>
            {# <input type="hidden" name="{{ name }}" value="{{ skel["value"][name] if skel["value"][name] }}" />  #}
        {% endmacro %}

        {% macro input(skel, name, title = "") %}
            {% if title %}
                {{ title }}<br>
            {% endif %}

            <input type="text" name="{{ name }}" value="{{ skel["value"][name] if skel["value"][name] }}" />
        {% endmacro %}

        {% macro textarea(skel, name, title = "") %}
            {% if title %}
                {{ title }}<br>
            {% endif %}

            <textarea name="{{ name }}">{{ skel["value"][name] or "" }}</textarea>
        {% endmacro %}

        {% macro numeric(skel, name, title = "", min=0, max=9) %}
            {% if title %}
                {{ title }}<br>
            {% endif %}

            <input type="number"
                    {% if not min is none %}
                    min="{{ min }}"
                    {% endif %}

                    {% if not max is none %}
                    max="{{ max }}"
                    {% endif %}

                   name="{{ name }}" value="{{ skel["value"][name] or min }}" />
        {% endmacro %}

        {% macro checkbox(skel, name, title = "", disabled=False) %}
            <label>
                <input type="checkbox" {{ "disabled=\"disabled\"" if disabled }} value="1" name="{{ name }}" {{ "checked" if skel["value"][name] }} />
                {{ title }}
            </label>
        {% endmacro %}

        {% macro radio(skel, name, value, title = "") %}
            <label>
                <input type="radio" name="{{ name }}" value="{{ value }}" {{ "checked" if skel["value"][name] == value }} />
                {{ title }}
            </label>
        {% endmacro %}

        <h1>Fragebogen für {{ skel["value"]["viewname"] }}</h1>

        <p>In diesem Fragebogen werden nun ergänzend noch einige Punkte abgefragt, die uns helfen,
            das FlyIn besser zu organisieren.<br>
            Alles weitere findet ihr in der E-Mail, welche euch zugeschickt worden ist,
            und den Link auf diesen Fragebogen enthält.</p>

        <h2>Anmeldedaten</h2>

        <p>Hier nochmal deine groben Anmeldedaten. Sollte es Änderungen an diesen Daten geben, teile uns diese
        bitte per <a href="mailto:info@glasfluegel.net">E-Mail an info@glasfluegel.net</a> mit.</p>

        <ul>
			<li>Name<br>
                <span class="outputvalue">
                    {{ skel["value"]["firstname"] }} {{ skel["value"]["lastname"] }}
                </span>
            </li>
			<li>{{ output(skel, "club", "Heimatverein") }}</li>
			<li>{{ output(skel, "city", "Heimatstadt") }}</li>

            <li>{{ output(skel, "persons", "Anzahl Personen") }}</li>
        </ul>

        <h2>Anreise und Verpflegung</h2>

        <ul>
            <li>{{ numeric(skel, "vegetarier", "Wie viele Vegetarier kommen mit?", max=skel["value"]["persons"]) }}</li>
            <li>
                {{ checkbox(skel, "camping", "Ja, ich möchte am Flugplatz Bad Saulgau campen") }}<br>
            </li>
            <li>
                Wenn du campst, wie campst du?<br>

                {{ radio(skel, "camping_kind", "tent", "Zelt") }}<br>
                {{ radio(skel, "camping_kind", "caravan", "Wohnmobil/Wohnwagen") }}
            </li>
            <li>
                An welchen Tagen bist du mit dabei?<br>

                {{ checkbox(skel, "tag_fr", "Freitag, 12.08.2016") }}<br>
                {{ checkbox(skel, "tag_sa", "Samstag, 13.08.2016", disabled = True) }}<br>
                {{ checkbox(skel, "tag_so", "Sonntag, 14.08.2016") }}
            </li>
        </ul>

        <h2>Flugzeug</h2>

        {% if skel["value"]["aircraft"] %}
            <p>Du hast dich mit folgendem Flugzeug zum FlyIn angemeldet:</p>

            <ul>
                <li>
                    Foto<br>
                    {% if skel["value"]["aircraft_pic"] %}
                        <img src="{{ skel["value"]["aircraft_pic"]["servingurl"] }}=s500" />
                    {% else %}
                        (kein Foto hinterlegt)
                    {% endif %}
                </li>
                <li>{{ output(skel, "aircraft_type", "Typ") }}</li>
                <li>{{ output(skel, "aircraft_reg", "Kennzeichen") }}</li>
                <li>{{ output(skel, "aircraft_wb", "Wettbewerbskennung") }}</li>
                <li>
                   Wie kommt dein Flugzeug zum FlyIn?<br>

                    {{ radio(skel, "aircraft_transport", "trailer", "per Anhänger") }}<br>
                    {{ radio(skel, "aircraft_transport", "flight", "per Luft") }}
                </li>
            </ul>

            <p>Ergänzend würden wir gerne folgende Informationen über dein Flugzeug wissen:</p>

            <ul>
                <li>{{ numeric(skel, "aircraft_bj", "Baujahr", min=None, max=None) }}</li>
                <li>{{ numeric(skel, "aircraft_werkno", "Werk-Nr", min=None, max=None) }}</li>
                <li>
                    Möchtest du dein Flugzeug nur ausstellen oder auch wirklich fliegen?<br>

                    {{ radio(skel, "aircraft_flight", "1", "Ja, ich will fliegen!") }}<br>
                    {{ radio(skel, "aircraft_flight", "0", "Nein, nur ausstellen") }}<br>
                    {{ radio(skel, "aircraft_flight", "-", "Würde fliegen wenn das Wetter passt") }}
                </li>
                <li>
                    Würdest du dein Flugzeug anderen Piloten zum Typenfliegen zur Verfügung stellen?<br>

                    {{ checkbox(skel, "aircraft_others", "Ja, mein Flugzeug darf von anderen geflogen werden") }}<br>
                    {{ input(skel, "aircraft_others_comment", "Du kannst uns dazu auch noch einen Kommentar hinterlassen:") }}
                </li>
                <li>
                    Wenn gutes Wetter ist, möchtest du dein Flugzeug aufgerüstet lassen?<br>

                    {{ checkbox(skel, "aircraft_nightup", "Ja, Flugzeug bleibt dann aufgerüstet.") }}
                </li>
            </ul>

        {% else %}
            <p>Du hast kein Flugzeug mit angemeldet.</p>
        {% endif %}

        <h2>Sonstiges</h2>

        {{ textarea(skel, "frameprog", "Ich kann zum Rahmenprogramm noch folgendes Beitragen:") }}

        <br>

        {{ textarea(skel, "qremarks", "Was ich noch unbedingt loswerden möchte:") }}

        <h2>Souveniers</h2>

        <img src="/static/images/gfsouveniers.jpg" title="FlyIn Souveniers" alt="Bild von Souveniers" />

        <p>
            Wir würden gerne einige "Andenken" fertigen lassen.<br >
            Folgende Ausführungen sind geplant, und wir würden dich bitten, dein Wunsch-Stückzahlen
			verbindlich anzugeben, sofern du Interesse hast.
        </p>

		{% macro tshirt(skel, nameprefix)  %}
			<table class="glasfluegel">
				<tr>
					<th>Größe</th>
                    <th>Farbe</th>
					<th>gewünschte Anzahl</th>
				</tr>
                {% for color in ["white", "black"] %}
                    {% for size in ["xs", "s", "m", "l", "xl", "xxl"] %}
                    <tr>
                        <td>{{ size|upper }}</td>
                        <td>{{ "marine" if color == "black" else "weiß" }}</td>
                        <td>{{ numeric(skel, "%s_%s_%s" % (nameprefix, color, size)) }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
			</table>
		{% endmacro %}

		<h3>T-Shirt "Glasflügel FlyIn 2016"</h3>

        <img src="/static/images/tshirt-flyin.jpg" title="T-Shirt FlyIn" alt="Bild des T-Shirts" /><br>

		Glasflügel-Logo und FlyIn-Bild (gedruckt), abweichend vom Bild mit Rundkragen!<br>
		Preis: 12,50€ pro Stück.

		{{ tshirt(skel, "tshirt_flyin") }}

		<h3>T-Shirt "Glasflügel Logo"</h3>

        <img src="/static/images/tshirt-logo.jpg" title="T-Shirt Logo" alt="Bild des T-Shirts" /><br>

		Glasflügel-Logo ohne FlyIn-Bild (gedruckt), abweichend vom Bild mit Rundkragen!<br>
		Preis: 12,50€ pro Stück.

		{{ tshirt(skel, "tshirt_logo") }}

		<h3>Sweatshirt "Glasflügel"</h3>

        <img src="/static/images/sweatshirt.jpg" title="Sweatshirt" alt="Bild des Sweatshirts" /><br>

		Baumwoll-Sweatshirt mit Glasflügel-Logo, gestickt.<br>
		Preis: 23,50€ pro Stück.

		{{ tshirt(skel, "sweatshirt") }}

        <h3>Glasflügel-Cap</h3>

        <img src="/static/images/gfcap.jpg" title="Cap" alt="Bild des Caps" /><br>

		Baumwoll-Cappy mit Glasflügel-Logo, gestickt.<br>
		Preis: 10€ pro Stück.<br><br>

        {{ numeric(skel, "cap_white", "Anzahl Cap (weiß)") }}<br>
        {{ numeric(skel, "cap_black", "Anzahl Cap (marine)") }}

		<h3>Glasflügel-Becher</h3>

        <img src="/static/images/tassen.jpg" title="Tassen" alt="Bild der Tassenmotive" /><br>

        Glasflügel-Kaffeebecher mit Logo und Drei-Seiten-Ansicht verschiedener Flugzeugtypen.<br>
		Preis: 10€ pro Stück, komplettes Set für 110€.

		<table class="glasfluegel">
			<tr>
				<th>Motiv</th>
				<th>gewünschte Anzahl</th>
			</tr>
			{% set desc = {
					"h30": "H-30 GFK",
					"301": "Libelle H301",
					"bs1": "BS-1",
					"201": "Libelle 201 B",
					"kestrel": "Kestrel 401",
					"604": "Glasflügel 604",
					"clubby": "Club-Libelle 205",
					"hornet": "Hornet",
					"mosquito": "Mosquito",
					"304": "Glasflügel 304",
					"falcon": "Falcon",
					"402": "Glasflügel 402"
				} %}


			{% for size in ["h30", "301", "bs1", "201", "kestrel", "604", "clubby", "hornet",
							"mosquito", "304", "falcon", "402"] %}
				<tr>
					<td>{{ desc[size] }}</td>
					<td>{{ numeric(skel, "tasse_%s" % size) }}</td>
				</tr>
			{% endfor %}
		</table>

        {#
		{% for k, v in skel["value"].items() %}
			{% if k in ignore %}
				{% continue %}
			{% endif %}

			<input type="hidden" name="{{ k }}" value="{{ v if v }}" />
		{% endfor %}
        #}

        <hr />

        <p>
            Zu guter letzt bitte den nachfolgenden Button klicken, um deinen Fragebogen abzuschicken!<br>
            Du erhälst von uns eine Bestätigungsmail mit dem zu überweisenden Gesamtbetrag.
        </p>

        <button type="submit" class="submitbtn">Fragebogen absenden</button>
    </form>
</body>
</html>
